*

!.gitignore
!README.md

!.python-version
!pyproject.toml
!uv.lock

!flake.lock
!flake.nix

!.github/
!.github/workflows/
!.github/workflows/*.yml

!src/
!src/**/*.py

!test/
!test/**/*.py
!test/**/*.json
